In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [3]:
df = pd.DataFrame(mydict)

In [4]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [5]:
type(df.iloc[:,:-1])

pandas.core.frame.DataFrame

In [6]:
df.iloc[:,:-1]

      a     b     c
0     1     2     3
1   100   200   300
2  1000  2000  3000

In [7]:
df.iloc[:,1]

0       2
1     200
2    2000
Name: b, dtype: int64